<main>
    <h1 class="charsFound">{{title}}</h1>
    <h2 id="searchTerm">{{search_term}}</h2>

  {{#if results.length}}
  
  <ul>
    {{#each results}}
      <li>
        <a href="characters/{{this.id}}">{{this.name}}</a>
      </li>
    {{/each}}
  </ul>
  {{else}}
  <p class="not-found">We're sorry, but no results were found for {{search_term}}.</p>
  {{/if}}
  <a class="searchAgain", href="/">Make another search</a>
</main>